@font-face {
  font-family: 'digital-7regular';
  src: url("../fonts/digital-7-webfont.woff2") format("woff2"), url("../fonts/digital-7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  background-color: #3c3c3c; }

#root {
  display: flex;
  align-items: center;
  height: 100vh; }

#main__simon__game__container {
  background-color: #202020;
  height: 19rem;
  width: 19rem;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  #main__simon__game__container__center {
    position: absolute;
    width: calc(19rem - (19rem / 2));
    height: calc(19rem - (19rem / 2));
    border-radius: 50%;
    background-color: #e0e0e0;
    z-index: 999;
    text-align: center;
    align-content: center;
    pointer-events: initial; }
    #main__simon__game__container__center span {
      height: 50%;
      width: 100%;
      position: relative;
      top: 1.4rem;
      z-index: 999;
      text-align: center;
      color: black;
      margin: 0 auto;
      font-weight: bold;
      letter-spacing: 0.3rem; }
    #main__simon__game__container__center__controls__display {
      background-color: #202020;
      width: 50%;
      height: 2rem;
      position: absolute;
      transform: translate(2.3rem, 1.7rem);
      font-family: 'digital-7regular';
      color: #d62626;
      font-weight: bold;
      letter-spacing: 0.3rem;
      font-size: 2rem;
      text-align: center;
      padding-bottom: 0.3rem;
      text-shadow: 1px 1px 2px rgba(214, 38, 38, 0.6); }
  #main__simon__game__container__center__controls__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
    height: 1rem;
    width: 7rem;
    margin: 0 auto;
    transform: translateY(2.5rem); }
    #main__simon__game__container__center__controls__container__buttons {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      height: 100%;
      align-items: center;
      justify-content: space-between; }
      #main__simon__game__container__center__controls__container__buttons label {
        position: absolute;
        font-size: 0.8rem;
        transform: translate(-0.1rem, -1rem); }
      #main__simon__game__container__center__controls__container__buttons--audio {
        height: 1rem;
        width: 1rem;
        background-color: #dbdb1a;
        border-radius: 50%;
        border: 1px solid #202020; }
      #main__simon__game__container__center__controls__container__buttons--reset {
        height: 1rem;
        width: 1rem;
        background-color: #db1a1a;
        border-radius: 50%;
        border: 1px solid #202020; }
      #main__simon__game__container__center__controls__container__buttons--start {
        height: 1rem;
        width: 1rem;
        background-color: #1a9edb;
        border-radius: 50%;
        border: 1px solid #202020; }

#main__simon__game__container__buttons {
  justify-content: center;
  align-items: center;
  width: calc(19rem - (19rem * 0.08));
  height: calc(19rem - (19rem * 0.08));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem; }
  #main__simon__game__container__buttons__red {
    height: 99%;
    width: 99%;
    background-color: red;
    border-radius: 100% 2% 10% 2%;
    transition: opacity 0.1s; }
  #main__simon__game__container__buttons__green {
    height: 100%;
    width: 100%;
    background-color: green;
    border-radius: 2% 100% 2% 10%; }
  #main__simon__game__container__buttons__blue {
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 2% 10% 2% 100%; }
  #main__simon__game__container__buttons__yellow {
    height: 100%;
    width: 100%;
    background-color: yellow;
    border-radius: 10% 2% 100% 2%; }

.active__button {
  opacity: 1; }

.inactive__button {
  opacity: 0.4; }
