$colors:(gameboard:#202020, main:#cacaca);
$diameter: 19rem;
$buttonsDiameter: calc(#{$diameter} - (#{$diameter} * 0.08));
$centerCapDiameter: calc(#{$diameter} - (#{$diameter} / 2));
$buttonLength: 7rem;
$defaultButtonOpacity: 0.4;

html{
    background-color: #3c3c3c;
}

#root{
    display:flex;
    align-items: center;
    height: 100vh;
}
#main__simon__game__container{
    background-color: map-get($colors, gameboard);
    height: $diameter;
    width: $diameter;
    border-radius: 50%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;

    &__center{
        position: absolute;
        width: $centerCapDiameter;
        height: $centerCapDiameter;
        border-radius: 50%;
        background-color: map-get($colors, gameboard);
        z-index: 999;
    }
}

#main__simon__game__container__buttons{
    justify-content: center;
    align-items: center;
    width: $buttonsDiameter;
    height: $buttonsDiameter;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;

    &__red{
        height: 99%;
        width: 99%;
        background-color: red;
        border-radius: 100% 2% 10% 2%;
        transition: opacity 0.1s;
    }

    &__green{
        height: 100%;
        width: 100%;
        background-color: green;
        border-radius: 2% 100% 2% 10%;
    }

    &__blue{
        height: 100%;
        width: 100%;
        background-color: blue;
        border-radius: 2% 10% 2% 100%;
    }

    &__yellow{
        height: 100%;
        width: 100%;
        background-color: yellow;
        border-radius: 10% 2% 100% 2%;
    }
}


.active__button{
    opacity: 1;
}

.inactive__button{
    opacity: 0.4;
}

 // <div id="main__simon__game__container">
    //     <div id="main__simon__game__container__center"></div>
    //     <div id="main__simon__game__container__buttons">
    //         <div id="main__simon__game__container__buttons__red"></div>
    //         <div id="main__simon__game__container__buttons__green"></div>
    //         <div id="main__simon__game__container__buttons__blue"></div>
    //         <div id="main__simon__game__container__buttons__yellow"></div>
    //     </div>
    // </div>